<h2>Dancers</h2>

<table class = "styled-table">
  <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Actions</th></tr>
  {{#each dancers}}
  <tr>
    <td>{{this.dancerID}}</td>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.email}}</td>
    <td>
      <form action="/dancers/{{this.dancerID}}/edit" method="get" style="display:inline;">
        <button type="submit" class="btn-edit">Edit</button>
      </form>

      <form action="/dancers/{{this.dancerID}}/delete" method="post" style="display:inline;">
        <button type="submit" class="btn-delete">Delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>


<h3>Add New Dancer</h3>
<label for="firstName">First Name:</label>
<input type="text" id="firstName" name="firstName" required>
<label for="lastName">Last Name:</label>
<input type="text" id="lastName" name="lastName" required>
<label for="email">Email:</label>
<input type="email" id="email" name="email" required>
<button id="addDancerBtn">Add Dancer</button>
