{{!--
  ECLIPSE Crew Management System
  Group 79 - Jenna Rivera and Kaelee Duong
  Dancers Handlebars Template for CS340 Final Project

  Citations:
  Date: 11/5/2025
  - Handlebars.js documentation: https://handlebarsjs.com/guide/
  - Exploration: Web Application Technology example code was used as a reference for structuring Handlebars templates.
      - URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
      
  - All other code was written by Group 79 members.
 --}}

<h2>Dancers</h2>

{{! success message upon creating a new dancer !}}
{{#if createdID}}
  <div class="success-message">
    Dancer with ID {{createdID}} was successfully created!
  </div>
{{/if}}

{{! success message upon updating an existing dancer !}}
{{#if updatedID}}
  <div class="success-message">
    Dancer with ID {{updatedID}} was successfully updated!
  </div>
{{/if}}


{{! table displaying data from dancers !}}
<table class = "styled-table">
  <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Actions</th></tr>
  {{#each dancers}}
  <tr>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.email}}</td>
    <td>
        <form action="/delete-dancer" method="POST" onsubmit="return confirm('Are you sure you want to delete this dancer?');">
            <input type="hidden" name="dancerID" value="{{this.dancerID}}">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </td>
  </tr>
  {{/each}}
</table>

{{! add new dancer !}}
<div class="form-section">

<h3>Add New Dancer</h3>
<form id="addDancerForm" action="/add-dancer" method="POST">
<label for="firstName">First Name:</label>
<input type="text" id="firstName" name="firstName" required>
<label for="lastName">Last Name:</label>
<input type="text" id="lastName" name="lastName" required>
<label for="email">Email:</label>
<input type="email" id="email" name="email" required>
<button id="addDancerBtn">Add Dancer</button>
</form>

{{! edit existing dancer !}}
<h3>Edit a Dancer</h3>
<form id="editDancerForm" action="/edit-dancer" method="POST">
<label for="dancerID">Select Dancer to Edit:</label>
<select id="dancerID" name="dancerID" required>
  {{#each dancers}}
    <option value="{{this.dancerID}}">
      {{this.firstName}} {{this.lastName}} - {{this.email}}
    </option>
  {{/each}}
</select>
<label for="newFirstName">New First Name:</label>
<input type="text" id="newFirstName" name="newFirstName" required>
<label for="newLastName">New Last Name:</label>
<input type="text" id="newLastName" name="newLastName" required>
<label for="newEmail">New Email:</label>
<input type="email" id="newEmail" name="newEmail" required>
<button id="editDancerBtn">Edit Dancer</button>
</form>

</div>