{{!--
  ECLIPSE Crew Management System
  Group 79 - Jenna Rivera and Kaelee Duong
  Performances Handlebars Template for CS340 Final Project

  Citations:
  Date: 11/5/2025
  - Handlebars.js documentation: https://handlebarsjs.com/guide/
  - Exploration: Web Application Technology example code was used as a reference for structuring Handlebars templates.
    - URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
      
  - All other code was written by Group 79 members.
 --}}

<h2>Performances</h2>

{{! success message upon creating a new performance !}}
{{#if createdID}}
  <div class="success-message">
    Performance with ID {{createdID}} was successfully created!
  </div>
{{/if}}

{{! success message upon updating an existing performance !}}
{{#if updatedID}}
  <div class="success-message">
    Performance with ID {{updatedID}} was successfully updated!
  </div>
{{/if}}

{{! table displaying data from performances !}}
<table class="styled-table">
  <tr><th>Name</th><th>Date</th><th>Location</th><th>Actions</th></tr>
  {{#each performances}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.date}}</td>
    <td>{{this.locationName}}</td>
    <td>
         <form action="/delete-performance" method="POST" onsubmit="return confirm('Are you sure you want to delete this performance?');">
            <input type="hidden" name="performanceID" value="{{this.performanceID}}">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </td>
  </tr>
  {{/each}}
</table>

{{! add new performance !}}
<div class="form-section">
  <h3>Add New Performance</h3>
  <form id="addPerformanceForm" action="/add-performance" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <label for="locationID">Location:</label>
    <select id="locationID" name="locationID" required>
      {{#each locations}}
        <option value="{{this.locationID}}">
          {{this.name}}
        </option>
      {{/each}}
    </select>    
  <button id="addPerformanceBtn">Add Performance</button>
  </form>

  {{! edit existing performance !}}
  <h3>Edit a Performance</h3>
  <form id="editPerformanceForm" action="/edit-performance" method="POST">
  <label for="performanceID">Select Performance to Edit:</label>
  <select id="performanceID" name="performanceID" required>
    {{#each performances}}
      <option value="{{this.performanceID}}">
        {{this.name}} - {{this.date}} - {{this.locationName}}
      </option>
    {{/each}}
  </select>
  <label for="newName">New Name:</label>
  <input type="text" id="newName" name="newName" required>
  <label for="newDate">New Date:</label>
  <input type="date" id="newDate" name="newDate" required>
  <label for="newLocation">New Location:</label>
  <select id="newLocation" name="newLocation" required>
    {{#each locations}}
      <option value="{{this.locationID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>
  <button id="editPerformanceBtn">Edit Performance</button>
  </form>

</div>