{{!--
  ECLIPSE Crew Management System
  Group 79 - Jenna Rivera and Kaelee Duong
  Performers Handlebars Template for CS340 Final Project

  Citations:
  Date: 11/5/2025
  - Handlebars.js documentation: https://handlebarsjs.com/guide/
  - Exploration: Web Application Technology example code was used as a reference for structuring Handlebars templates.
    - URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
      
  - All other code was written by Group 79 members.
 --}}

<h2>Performers</h2>

{{! success message upon creating a new performer !}}
{{#if createdID}}
  <div class="success-message">
    Performer with ID {{createdID}} was successfully created!
  </div>
{{/if}}


{{! success message upon updating an existing performer !}}
{{#if updatedID}}
  <div class="success-message">
    Performer with ID {{updatedID}} was successfully updated!
  </div>
{{/if}}


{{! table displaying data from performers !}}
<table class="styled-table">
  <tr><th>First Name</th><th>Last Name</th><th>Performance</th><th>Actions</th></tr>
  {{#each performers}}
  <tr>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.performanceName}}</td>
    <td>
         <form action="/delete-performer" method="POST" onsubmit="return confirm('Are you sure you want to delete this performer?');">
            <input type="hidden" name="performerID" value="{{this.performerID}}">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </td>
  </tr>
  {{/each}}
</table>

{{! add new performer !}}
<div class="form-section">
<h3>Add New Performer</h3>

<form id="addPerformerForm" action="/add-performer" method="POST">
  <label for="dancerID">Select Dancer:</label>
  <select id="dancerID" name="dancerID" required>
    {{#each dancers}}
      <option value="{{this.dancerID}}">
        {{this.firstName}} {{this.lastName}}
      </option>
    {{/each}}
  </select>

  <label for="performanceID">Select Performance:</label>
  <select id="performanceID" name="performanceID" required>
    {{#each performances}}
      <option value="{{this.performanceID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>

  <button type="submit" id="addPerformerBtn">Add Performer</button>
</form>

{{! edit existing performer !}}
<h3>Edit a Performer</h3>
<form id="editPerformerForm" action="/edit-performer" method="POST">
  <label for="performerID">Select Performer to Edit:</label>
  <select id="performerID" name="performerID" required>
    {{#each performers}}
      <option value="{{this.performerID}}">
        {{this.firstName}} {{this.lastName}} - {{this.performanceName}}
      </option>
    {{/each}}
  </select> 

  <label for="newDancerID">Select New Dancer:</label>
  <select id="newDancerID" name="newDancerID" required>
    {{#each dancers}}
      <option value="{{this.dancerID}}">
        {{this.firstName}} {{this.lastName}}
      </option>
    {{/each}}
  </select>

  <label for="newPerformanceID">Select New Performance:</label>
  <select id="newPerformanceID" name="newPerformanceID" required>
    {{#each performances}}
      <option value="{{this.performanceID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>

  <button id="editPerformerBtn">Edit Performer</button>
</form>

</div>