<h2>Performances</h2>

<table class="styled-table">
  <tr><th>ID</th><th>Name</th><th>Date</th><th>Location</th><th>Actions</th></tr>
  {{#each performances}}
  <tr>
    <td>{{this.performanceID}}</td>
    <td>{{this.name}}</td>
    <td>{{this.date}}</td>
    <td>{{this.locationName}}</td>
    <td>
      <form action="/performances/{{this.performanceID}}/edit" method="get" style="display:inline;">
        <button type="submit" class="btn-edit">Edit</button>
      </form>

      <form action="/performances/{{this.performanceID}}/delete" method="post" style="display:inline;">
        <button type="submit" class="btn-delete">Delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>

<h3>Add New Performance</h3>
<label for="name">Name:</label>
<input type="text" id="name" name="name" required>
<label for="date">Date:</label>
<input type="date" id="date" name="date" required>
<label for="locationID">Location:</label>
<input type="number" id="locationID" name="locationID" required>
<button id="addPerformanceBtn">Add Performance</button>
