<h2>Performances</h2>

{{#if createdID}}
  <div class="success-message">
    Performance with ID {{createdID}} was successfully created!
  </div>
{{/if}}

<table class="styled-table">
  <tr><th>Name</th><th>Date</th><th>Location</th><th>Actions</th></tr>
  {{#each performances}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.date}}</td>
    <td>{{this.locationName}}</td>
    <td>
        <button type="submit" class="btn-delete">Delete</button>
    </td>
  </tr>
  {{/each}}
</table>


<div class="form-section">
  <h3>Add New Performance</h3>
  <form id="addPerformanceForm" action="/add-performance" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <label for="locationID">Location:</label>
    <select id="locationID" name="locationID" required>
      {{#each locations}}
        <option value="{{this.locationID}}">
          {{this.name}}
        </option>
      {{/each}}
    </select>    
  <button id="addPerformanceBtn">Add Performance</button>
  </form>

  <h3>Edit a Performance</h3>
  <form id="editPerformanceForm" action="/edit-performance" method="POST">
  <label for="performanceID">Select Performance to Edit:</label>
  <select id="performanceID" name="performanceID" required>
    {{#each performances}}
      <option value="{{this.performanceID}}">
        {{this.name}} - {{this.date}} - {{this.locationName}}
      </option>
    {{/each}}
  </select>
  <label for="newName">New Name:</label>
  <input type="text" id="newName" name="newName">
  <label for="newDate">New Date:</label>
  <input type="date" id="newDate" name="newDate">
  <label for="newLocation">New Location:</label>
  <select id="newLocation" name="newLocation">
    {{#each locations}}
      <option value="{{this.locationID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>
  <button id="editPerformanceBtn">Edit Performance</button>
  </form>

</div>