{{!--
  ECLIPSE Crew Management System
  Group 79 - Jenna Rivera and Kaelee Duong
  Practices Handlebars Template for CS340 Final Project

  Citations:
  Date: 11/5/2025
  - Handlebars.js documentation: https://handlebarsjs.com/guide/
  - Exploration: Web Application Technology example code was used as a reference for structuring Handlebars templates.
      - URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
      
  - All other code was written by Group 79 members.
 --}}

<h2>Practices</h2>

{{! success message upon creating a new practice !}}
{{#if createdID}}
  <div class="success-message">
    Practice with ID {{createdID}} was successfully created!
  </div>
{{/if}}

{{! success message upon updating an existing practice !}}
{{#if updatedID}}
  <div class="success-message">
    Practice with ID {{updatedID}} was successfully updated!
  </div>
{{/if}}

{{! table displaying data from practices !}}
<table class="styled-table">
  <tr><th>Date</th><th>Location</th><th>Performance</th><th>Actions</th></tr>
  {{#each practices}}
  <tr>
    <td>{{this.date}}</td>
    <td>{{this.locationName}}</td>
    <td>{{this.performanceName}}</td>
    <td>
         <form action="/delete-practice" method="POST" onsubmit="return confirm('Are you sure you want to delete this practice?');">
            <input type="hidden" name="practiceID" value="{{this.practiceID}}">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </td>
  </tr>
  {{/each}}
</table>

{{! add new practice !}}
<div class="form-section">

<h3>Add New Practice</h3>
<form id="addPracticeForm" action="/add-practice" method="POST">
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required>
  <label for="locationID">Location:</label>
  <select id="locationID" name="locationID" required>
    {{#each locations}}
      <option value="{{this.locationID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>
  <label for="performanceID">Select Performance:</label>
<select id="performanceID" name="performanceID" required>
  {{#each performances}}
    <option value="{{this.performanceID}}">
      {{this.name}}
    </option>
  {{/each}}
</select>
<button id="addPracticeBtn">Add Practice</button>
</form>

{{! edit existing practice !}}
<h3>Edit a Practice</h3>
<form id="editPracticeForm" action="/edit-practice" method="POST">
  <label for="practiceID">Select Practice to Edit:</label>
  <select id="practiceID" name="practiceID" required>
    {{#each practices}}
      <option value="{{this.practiceID}}">
        {{this.date}} - {{this.locationName}} - {{this.performanceName}}
      </option>
    {{/each}}
  </select>

  <label for="newDate">New Date:</label>
  <input type="date" id="newDate" name="newDate" required>

  <label for="newLocation">New Location:</label>
  <select id="newLocation" name="newLocation" required>
    {{#each locations}}
      <option value="{{this.locationID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>

  <label for="newPerformance">New Performance:</label>
  <select id="newPerformance" name="newPerformance">
    {{#each performances}}
      <option value="{{this.performanceID}}">
        {{this.name}}
      </option>
    {{/each}}
  </select>
  
  <button type="submit" id="editPracticeBtn">Edit Practice</button>

</form>
</div>
